<!DOCTYPE html>
<html lang="en">
<head>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
  <script src="/javascript/application.js"></script>

  <link href="/stylesheets/star-rating.css" media="all" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/application.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script src="/javascript/star-rating.js" type="text/javascript"></script>




  <title></title>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <img class="navbar-brand" src="/img/food.svg">
    <a href="/songs" class="navbar-brand">SongJam</a>
    <% if session["user"] %>
      <ul class="nav navbar-nav">
        <li><a href="/users/<%= session["user"].id %>">My Profile</a></li>
        <li><a href="/songs/new">New Song</a></li>
      </ul>
      <p>Logged in as <%= session["user"].name %></p>
      <form class="logout navbar-form navbar-right" method="POST" action="/logout">
        <button class="btn btn-danger btn-sm" type="submit">Logout</button>
      </form>
    <% else %>
      <form class="login navbar-form navbar-right" method="POST" action="/login">
        <div>
          <label>Username:</label>
          <input type="text" name="name">
        </div>
        <div>
          <label>Password:</label>
          <input type="password" name="password">
        </div>
        <div>
          <button class="btn btn-success btn-sm" type="submit">Log In</button>
          <a href="/users/new"><button type="button" class="btn btn-success btn-sm" >Sign up</button></a>
        </div>
      </form>
    <% end %>
    <p><%= @login_message %></p>
  </nav>
  <%= yield %>
</body>
</html>
